<% defaults = Redmine::Plugin::registered_plugins[:redmine_rubycas].settings[:default] %>
<fieldset>
    <legend><%= l(:redmine_ruby_cas_plugin_settings) %></legend>
    <p>
        <label for="settings_enabled"><%= l(:enabled) %></label>
        <%= check_box_tag 'settings[enabled]', "true", @settings['enabled'] || defaults[:enabled] %>
    </p>
    <p>
        <label for="settings_maintain_standard_login"><%= l(:maintain_standard_login) %></label>
        <%= check_box_tag 'settings[maintain_standard_login]', "true", @settings['maintain_standard_login'] || defaults[:maintain_standard_login] %>
    </p>
    <p>
        <label for="settings_auto_create_users"><%= l(:auto_create_users) %></label>
        <%= check_box_tag 'settings[auto_create_users]', "true", @settings['auto_create_users'] || defaults[:auto_create_users] %>
    </p>
    <p>
        <label for="settings_auto_update_users"><%= l(:auto_update_users) %></label>
        <%= check_box_tag 'settings[auto_update_users]', "true", @settings['auto_update_users'] || defaults[:auto_update_users] %>
    </p>
    <p>
        <label for="settings_auto_user_attributes_map"><%= l(:auto_user_attributes_map) %></label>
        <%= text_field_tag 'settings[auto_user_attributes_map]', @settings['auto_user_attributes_map'] || defaults[:auto_user_attributes_map] %>
    </p>
    <p><%= l(:auto_user_attributes_map_description).html_safe %></p>
    <p><code>firstName=firstName&amp;lastName=lastName&amp;mail=email</code></p>
    <p><%= l(:auto_user_attributes_map_description2).html_safe %></p>
    <p>
        <label for="settings_logout_of_cas_on_logout"><%= l(:logout_of_cas_on_logout) %></label>
        <%= check_box_tag 'settings[logout_of_cas_on_logout]', "true", @settings['logout_of_cas_on_logout'] || defaults[:logout_of_cas_on_logout] %>
    </p>
</fieldset>
<fieldset>
    <legend><%= l(:rubycas_client_settings) %></legend>
    <p>
        <label for="settings_base_url"><%= l(:base_url) %></label>
        <%= text_field_tag 'settings[base_url]', @settings['base_url'] || defaults[:base_url] %>
    </p>
    <p>
        <label for="settings_login_url"><%= l(:login_url) %></label>
        <%= text_field_tag 'settings[login_url]', @settings['login_url'] || defaults[:login_url] %>
    </p>
    <p>
        <label for="settings_logout_url"><%= l(:logout_url) %></label>
        <%= text_field_tag 'settings[logout_url]', @settings['logout_url'] || defaults[:logout_url] %>
    </p>
    <p>
        <label for="settings_validate_url"><%= l(:validate_url) %></label>
        <%= text_field_tag 'settings[validate_url]', @settings['validate_url'] || defaults[:validate_url] %>
    </p>
    <p>
        <label for="settings_username_session_key"><%= l(:username_session_key) %></label>
        <%= text_field_tag 'settings[username_session_key]', @settings['username_session_key'] || defaults[:username_session_key] %>
    </p>
    <p>
        <label for="settings_extra_attributes_session_key"><%= l(:extra_attributes_session_key) %></label>
        <%= text_field_tag 'settings[extra_attributes_session_key]', @settings['extra_attributes_session_key'] || defaults[:extra_attributes_session_key] %>
    </p>
</fieldset>
